<section class="bg-white rounded-lg p-5 md:w-[40%] mx-auto my-4 shadow">

    <div class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
            <img [src]="post().user.photo" class="size-10 cursor-pointer" [alt]="post().user.name">

            <div>
                <h3 class="text-2xl leading-3 cursor-pointer capitalize"> {{post().user.name}} </h3>
                <span class="text-gray-400 text-sm"> {{post().createdAt |date}} </span>
            </div>

        </div>



        <button id="dropdownMenuIconHorizontalButton" [attr.data-dropdown-toggle]="'dropdownDotsHorizontal' + post().id"
            class="inline-flex cursor-pointer items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            type="button">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 16 3">
                <path
                    d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
        </button>

        <!-- Dropdown menu -->
        <div [id]="'dropdownDotsHorizontal' + post().id"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownMenuIconHorizontalButton">
                <li>
                    <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                    <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                </li>
                <li>
                    <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                </li>
            </ul>
            <div class="py-2">
                <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Separated
                    link</a>
            </div>
        </div>

    </div>

    <div class="">
        @if (post().body) {
        <p class="py-2"> {{post().body}} </p>
        }

        @if (post().image) {
        <img [src]="post().image" class="w-full rounded-lg mt-2" [alt]="post().user.name">
        }

        <button #btn class="text-sky-500 cursor-pointer capitalize my-2">show comment</button>


        @defer (on interaction(btn)) {
        <div class="h-[300px] overflow-y-scroll">



            @for (comment of post().comments; track comment._id) {

            <app-comment [comment]="comment"></app-comment>
            }

        </div>
        }


    </div>



</section>